<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.gov.siri.app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <permission
        android:name="ir.gov.siri.app.contactPermission"
        android:label="@string/app_name"
        android:permissionGroup="hgh"
        android:protectionLevel="dangerous" />

    <application
        android:name=".ApplicationLoader"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Media.AudioPlayer"></activity>
        <activity
            android:name=".Media.MusicActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Media.VideoActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Media.CameraActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".BrowserActivity" />
        <activity android:name=".ViewPager2.ViewPager2Activity" />
        <activity android:name=".ViewPager.ViewPagerActivity" />
        <activity
            android:name=".CoordinatorActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IntentActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".Fragment.FragmentActivity" />
        <activity
            android:name=".Contact.ContactActivity"
            android:configChanges="orientation|screenSize" />

        <receiver android:name=".Receivers.PowerBroadcastReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.provider.telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".Provider.MyProvider"
            android:authorities="ir.gov.siri.app.contact"
            android:exported="true"
            android:readPermission="ir.gov.siri.app.contactPermission"
            android:writePermission="ir.gov.siri.app.contactPermission" />
    </application>

</manifest>